<div class="inline-flex items-center divide-x divide-primary-foreground/20 overflow-hidden rounded-md border border-input shadow-sm {{ class }}">
    {% include "components/button.html" with label=label variant=variant|default:"primary" class="rounded-none shadow-none border-none" %}
    {% include "components/button.html" with label="" variant=variant|default:"primary" size="sm" class="rounded-none shadow-none border-none px-2" icon_left='<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>' %}
</div>
